* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* BODY IS CONTAINING GRID */

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* HEADER */

header {
    background-color: red;
    
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem;
}


/* HEADER NAVIGATION */

.nav-bar-top {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: end;
    text-align: center;
    gap: 2rem;
    padding-right: 1rem;
}


.nav-bar-top li {
    list-style-type: none;
}

/* MAIN GAME */

main {
    background-color: blue;
    
    display: grid;
    grid-template: 
        "left-menu game-screen right-menu" 2fr
        "level power-up advert " 1fr /
        400px 1fr 400px
    ;
}

/* LEFT ITEMS BAR */

.left-menu {
    grid-area: left-menu;
    background-color: pink;
    height: 100%;
    padding: 0.5rem;
}

.left-items {
    background-color: rgb(71, 194, 118);
    height: auto;
    border-radius: 8px;

    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr
}

.building {
    background-color: ;
}

/* RIGHT ITEMS BAR */

.right-menu {
    grid-area: right-menu;
    background-color: brown;
    height: 100%;
    padding: 0.5rem;
}

.right-items {
    background-color: hotpink;
    height: 100%;

    border-radius: 8px;
}

/* MAIN GAME - CENTER */

.game-screen {
    grid-area: game-screen;
    background-color: chartreuse;
    height: 100%;
}

/* LEVEL */

.level {
    grid-area: level;
    background-color: darkgoldenrod;
    height: 100%;
}

/* POWER UPS */

.power-up {
    grid-area: power-up;
    background-color: darkmagenta;
    height: 100%;
}

/* ADVERT */

.advert {
    grid-area: advert;
    background-color: deeppink;
    height: 100%;
}